{% extends 'FolioApp/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="jumbotron" style="background-color:  #FADA5E;">
  <h1 class="display-3">World Class Geospatial Services</h1>
  <p class="lead">We delivery geospatial solutions to get the job done.</p>
  <br>
  <button type="button" class="btn btn-outline-dark  btn-lg">Get in touch</button>
</div>



  <!-- What we offer start -->
<div>
    <h1 class="display-4 m-4">What we offer</h1>

    <p class="lead m-4">
      We provide geospatial services to government, business and universities across Australia. We are software, vendor and platform agnostic. We work with a wide range or systems including desktop GIS, modile devices, server environments and cloud technology.  
    </p>
    <br>

  <div class="row m-1" >
      <div class="col-sm-4">
        <div class="card" style="background-color:  #FADA5E;">
          <div class="card-body">
            <h1><i class="fas fa-laptop-code d-flex justify-content-center"></i></h1>
            <h5 class="card-title text-center">Geospatial Automation</h5>
            <p class="card-text">We provide top class assistance to build or improve your mission critical geospatial systems. We create reliable automations to replace your repetative tasks.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item font-weight-bold"><a href="https://www.safe.com/partners/certification/wall-of-fame/" target="_blank">
                <img src="{% static '/images/FME-Certified-Pro_RGB.png' %}" class="img-thumbnail " style="width: 70px; height: 70px">
              </a> FME Certified Professional</li>
              <li class="list-group-item font-weight-bold">Optimisation</li>
              <li class="list-group-item font-weight-bold">Bespoke Plugin  Development</li>
              <li class="list-group-item font-weight-bold">Python Scripting</li>
              <li class="list-group-item font-weight-bold">Integrations</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card" style="background-color:   #FADA5E;">
            <div class="card-body">
              <h1><i class="fas fa-layer-group d-flex justify-content-center"></i></h1>
              <h5 class="card-title text-center">Maps + Visualisations</h5>
              <p class="card-text">We provide value to your business by creating high quality deliverables. From building templates and layouts to full-feature web applications</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item font-weight-bold">Desktop GIS (Open Source + Proprietry)</li>
                <li class="list-group-item font-weight-bold">Web/mobile App Development</li>
                <li class="list-group-item font-weight-bold">Cartographic Design</li>
                <li class="list-group-item font-weight-bold">Data Visualisation</li>
                <li class="list-group-item font-weight-bold">Data Analysis</li>
                <li class="list-group-item font-weight-bold">Big Data Mining</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-color:   #FADA5E;">
              <div class="card-body">
                <h1><i class="fas fa-chalkboard-teacher d-flex justify-content-center"></i></h1>
                <h5 class="card-title text-center">Learning/Consultancy</h5>
                <p class="card-text">We offer a range of services to upskill your team, stay relevant and knowledgable within the industry.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item font-weight-bold">Bespoke training packages</li>
                  <li class="list-group-item font-weight-bold">Proprietary Software upskill</li>
                  <li class="list-group-item font-weight-bold">Open Source Software upskill</li>
                  <li class="list-group-item font-weight-bold">ETL tools upskill e.g. FME</li>
                  <li class="list-group-item font-weight-bold">Coding skills</li>
                  <li class="list-group-item font-weight-bold">Geospatial Architecture Review</li>
                </ul>
              </div>
            </div>
          </div>
    </div>

    <!-- What we offer End -->
    <p class="lead m-4 font-weight-bold">
        Hover cursor over map or click on some countries to see D3 and topojson geospatial data rendered responsivly in your browser.  
      </p>
    <div class="container">

      <div class="row">
        <div class="col" id="map">
        </div>
      </div>
    </div>

    <h1 class="display-4 m-4">Trusted by professionals</h1>

    <p class="lead m-4">
        Ensuring high quality outcomes is our goal.
    </p>


    <h1 class="display-4 m-4">Examples of our work</h1>

    <p class="lead m-4">
        Explore a few of our recent projects below.
    </p>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
            <h1><i class="fas fa-binoculars d-flex justify-content-center"></i></h1>
          <h5 class="card-title">Mobile Application for Biodiversity Assessors NSW</h5>
          <p class="card-text">We developed a mobile collection application to collect, store, analyse and report on iportant biodiversity indicators. Biodiversity Assessors use the app to record important field information that was previously collected in a non digital format. The app runs complex queries to search, match PCTs and provide insights for the user. </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">Geojson Web API</li>
            <li class="list-group-item font-weight-bold">Python Framework</li>
            <li class="list-group-item font-weight-bold">Sqlite Database</li>
            <li class="list-group-item font-weight-bold">Full Text Search</li>
            <li class="list-group-item font-weight-bold">BAM Assessment Requirements NSW</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1><i class="fas fa-cogs d-flex justify-content-center"></i></h1>
          <h5 class="card-title">Extract, Translate + Load Processes for Government Projects</h5>
          <p class="card-text">We have built in-depth ETL processes to automate geospatial tasks within complex server environments for numerous projects.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">FME</li>
            <li class="list-group-item font-weight-bold">Python - ArcPy</li>
            <li class="list-group-item font-weight-bold">SQL Server</li>
            <li class="list-group-item font-weight-bold">ArcGIS Server</li>
            <li class="list-group-item font-weight-bold">Data Warehousing</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1><i class="fas fa-carrot d-flex justify-content-center"></i></h1>
          <h5 class="card-title">Geospatial Ecosystem for Wholesale and Home Delivery Business</h5>
          <p class="card-text">We developed a geospatial solution to increase efficiency, reduce mistakes and increase customer satisfaction for our client who opperates a fresh produce business within the Illawarra</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item font-weight-bold">FME Desktop</li>
            <li class="list-group-item font-weight-bold">Javascript</li>
            <li class="list-group-item font-weight-bold">QGIS</li>
            <li class="list-group-item font-weight-bold">Web APIs</li>
            <li class="list-group-item font-weight-bold">E-Commerce Platform</li>
          </ul>
        </div>
      </div>
    </div>
   

  </div>
</div>



{% endblock %}



