{% extends 'FolioApp/main.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Steeze Jobs is a no nonsense platform to find dream jobs, great workers adn valuable trending insights</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

<blockquote class="blockquote">
    <p class="mb-0">"The measure of intelligence is the ability to change."</p>
    <footer class="blockquote-footer"><cite title="Source Title">Albert Einstein</cite></footer>
  </blockquote>


  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Spatial</button>
    <button type="button" class="btn btn-secondary">Surveying</button>
    <button type="button" class="btn btn-secondary">Data Science</button>
  </div>  

<img src="..." class="img-fluid" alt="Responsive image">

<ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="..." alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">List-based media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
    <li class="media my-4">
      <img class="mr-3" src="..." alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">List-based media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="..." alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">List-based media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </li>
  </ul>

{% endblock %}
