{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Awsome Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

    <!-- Custom CSS code -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body style="background-color:  #FADA5E;">

    {% include 'FolioApp/navbar.html' %}

    <div class="container-fluid" style="background-color:  #FADA5E;">
        <!-- Content here -->
        {% block content %}


        {% endblock %}
        <div id="contact">
            <br>
            <div class="d-flex justify-content-center">
                <h3>Get in touch with our GIS professionals today</h3>
                <br>
            </div>
            <div class="d-flex justify-content-center">
                <h1 class="display-4"><i class="fas fa-envelope"></i> hello@apstatial.com.au</h1>
                <br>
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="display-4"><i class="fas fa-phone"></i> 0423 676 646</h3>
                <br>
            </div>
            <div class="d-flex justify-content-center">
                <p><i class="far fa-copyright"></i> AP Spatial </p>   
                <br>
            </div>
        </div>  

        <br>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- D3 Library -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-geo-projection@4"></script>


<!-- D3 Code to make a map -->

<script type="text/javascript">

    var width = document.getElementById('map').clientWidth;
    //var width = 980;
    //var height = 1160;
    //console.log(width)
    //this allows us to collect the width of the div where the SVG will go.
    var height = width / 3.236;//3.236;
    //I like to use the golden rectangle ratio if they work for my charts.

    margin = Math.min(width, height)/10

    // Create SVG and group "g"
    var svg = d3.select("#map")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g");

    //Loading GeoJSON data
    d3.json("{% static '/geo/world110.json' %}").then(function(data){ 

            //console.log(data)
            var countries = topojson.feature(data, data.objects.countries);

            //console.log(countries)

            var projection = d3.geoFoucaut() // pick projection here geoOrthographic geoBoggs geoCraig geoFoucaut
                //.fitExtent([[20, 20],[960,600]], countries);
                .fitExtent([[margin, margin],[width-margin, height - margin]], countries)
                //.clipAngle(90);
                //.center([0, 55.4])
                //.rotate([150, 0])
                //.parallels([50, 60])
                //.scale(300) //use scale to zoom in and out
                //.translate([width / 2, height / 2])

            var pathGenerator = d3.geoPath()
                .projection(projection)    

            svg.selectAll("path")
                .data(topojson.feature(data, data.objects.countries).features)
                .enter().append("path")
                .attr("d", pathGenerator)
                .attr("class", "countries")
                .style("fill", "#ffffff")
                .on('mouseover', function(d){
                    d3.select(this).classed("selected", true)
                        .style("fill", function() {
                           return "hsl(" + Math.random() * 360 + ",100%,75%)";
                            })
                        .transition()
                            .duration(500)
                            .ease(d3.easeElasticIn)
                            .style("fill", "black");
                })
                
            //create graticles
            const graticule = d3.geoGraticule();
            console.log(graticule.outline())

            // Graticule lines (behind the land)
            svg.selectAll(".graticule")
                .data(graticule.lines())
                .enter().append("path")
                .attr("class", "graticule")
                .attr("d", pathGenerator);

   

            let rotate = [0, 0];
            let velocity = [0.05, 0];
            let time = Date.now();
            //console.log(time)
            //Trigger Spinning Globe
            spinning_globe()

            // Spinning globe setup and function
            
            function spinning_globe(){

                d3.timer(function() {
                    // get current time
                    var dt = Date.now() - time;
                    //console.log("dt", dt)

                    // get the new position from modified projection function
                    projection.rotate([rotate[0] + velocity[0] * dt, rotate[1] + velocity[1] * dt]);
                    //projection.rotate.rotate([0, 0]);
                    //console.log(projection.rotate)
                    // update layers position and redraw
                    svg.selectAll("path.graticule").attr("d", pathGenerator);
                    svg.selectAll("path.countries").attr("d", pathGenerator);
                    
                    //svg.selectAll("path.graticule-outline").attr("d", pathGenerator);

                })};



            });
            

                //We will build a basic function to handle window resizing.
            function resize() {
                width = document.getElementById('map').clientWidth;
                height = width / 3.236;
                //console.log("width: ", width)
                //console.log("height: ", height)
                d3.select('#map svg')
                .attr('width', width)
                .attr('height', height);
            }   
            
            //Call our resize function if the window size is changed.
            window.onresize = resize;






            /*

            //create graticles
            //const graticule = d3.geoGraticule();

            svg.selectAll(".country")
                //.data(countries)
                .data(topojson.feature(data, data.objects.countries).features)
                .enter()
                .append("path")
                .attr("class", "country")
                .attr("d", pathGenerator)
                .attr("stroke", "#000000")
                .attr("fill", "#ffffff");   
                //add class 'selected'
                //.on('mouseover', function(d){
                    //d3.select(this).classed("selected", true)
                        //.style("fill", function() {
                            //return "hsl(" + Math.random() * 360 + ",100%,75%)";
                            //})
                        //.transition()
                            //.duration(500)
                            //.ease(d3.easeElasticIn)
                            //.style("fill", "black");
                //})
                //remove class 'selected'
                //.on('mouseout', function(d){
                    //d3.select(this).classed("selected", false)
                //});
        });

        */
    /*    
    // Graticule lines (behind the land)
    svg.selectAll(".graticule")
        .data(graticule.lines())
        .enter().append("path")
        .attr("class", "graticule")
        .attr("d", pathGenerator);
        
    svg.append("path")
        .datum(graticule.outline)
        .attr("class", "graticule outline")
        .attr("d", pathGenerator);  
    
        

    //We will build a basic function to handle window resizing.
    function resize() {
        width = document.getElementById('map').clientWidth;
        height = width / 3.236;
        console.log("width: ", width)
        console.log("height: ", height)
        d3.select('#map svg')
        .attr('width', width)
        .attr('height', height);
    }   
    

    //Trigger Spinning Globe
    spinning_globe()

    //Spinning Globe code

    let rotate = [0, 0];
    let velocity = [0.05, -0];
    let time = Date.now();

    function spinning_globe(){

        d3.timer(function() {
            // get current time
            var dt = Date.now() - time;

            // get the new position from modified projection function
            projection.rotate([rotate[0] + 0.05 * dt, rotate[1] + velocity[1] * dt]);

            // update layers position and redraw
            g.selectAll("path.land").attr("d", pathGenerator);
            svg.selectAll("g.homes").selectAll("circle").attr("d", pathGenerator)
                .attr('cx', function(d) { return projection(d.geometry.coordinates)[0] })
                .attr('cy', function(d) { return projection(d.geometry.coordinates)[1] });

            //g.selectAll("path.blink").append("cirlce").attr("d", pathGenerator)
            //svg.selectAll("path.grat").attr("d", pathGenerator);
        })};
          */  

//window.onresize = resize;
//Call our resize function if the window size is changed.


</script>


</html>